/* red shades*/
$primary-100: #301500
$primary-90: #602A00
$primary-80: #903F00
$primary-70: #A84A00
$primary-60: #D85F00
$primary-50: #f06a00
$primary-40: #F17819
$primary-30: #F4964C
$primary-20: #F7B47F
$primary-10: #FAD2B2

/* blue shades*/
$secondary-100: #270A13
$secondary-90: #3B101D
$secondary-80: #631B31
$secondary-70: #77203A
$secondary-60: #9F2B4E
$secondary-50: #c73662
$secondary-40: #D25E81
$secondary-30: #DD86A0
$secondary-20: #EEC2CF
$secondary-10: #F3D6DF

/* gray shades*/
$neutral-100: #0B0D0F
$neutral-90: #21262C
$neutral-80: #373F49
$neutral-70: #4D5866
$neutral-60: #637183
$neutral-50: #7C8B9C
$neutral-40: #99A5B2
$neutral-30: #B6BEC8
$neutral-20: #D3D8DE
$neutral-10: #F9FAFB

/* status */

/* success */
$success-100: #01B574
$success-80: #52FEBF
$success-60: #B8FFE5
$success-20: #EBF9F4

/* warning */
$warning-100: #FFA000
$warning-60: #FFD999
$warning-20: #FFECCC

/* danger */
$danger-100: #E31A1A
$danger-80: #F4A4A4
$danger-60: #FCE8E8
$danger-20: #FDF4F4

/* info */
$info-100: #00B3FF
$info-60: #99E0FF
$info-20: #CCF0FF
