@keyframes shimmer
  0%
    background-position: -1000px 0

  100%
    background-position: 1000px 0

.fade-enter-active, .fade-leave-active
  -webkit-transition: opacity .5s
  -ms-transition: opacity .5s
  -o-transition: opacity .5s
  -moz-transition: opacity .5s
  transition: opacity .5s

.fade-enter, .fade-leave-to
  -webkit-opacity: 0
  -ms-opacity: 0
  -o-opacity: 0
  -moz-opacity: 0
  opacity: 0


.shammer-animate
  -webkit-animation: shimmer 2s infinite linear
  -ms-animation: shimmer 2s infinite linear
  -o-animation: shimmer 2s infinite linear
  -moz-animation: shimmer 2s infinite linear
  animation: shimmer 2s infinite linear
